body{
    margin:0;
    padding:0;
}

header{
    color:#d3d3d3;
    background-color:#222222;
    padding:15px 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

/* Style for IDP form*/

#idp-form{
    display: none;
    text-align: center;
    color:#222222;
}

#idp-form label{
    display:block;
    color:#333333;
    font-size: 20px;
    padding:10px;
}

#idp-form input{
    padding:10px 15px;
    border:1px solid #d2d2d2;
    color: #2d2d2d;
}

/* Styles for Logout Button */ 

#logout-button{
    display: none;
    border:0;
    text-align:center;
    padding:10px 18px;
    background-color:#222222;
    color:#d3d3d3;
}

/* extras */

a{
    text-decoration:none;
    color:#1976d2;
}

.extra-links{
    padding:40px 50px;
    text-align:center;
}

.extra-links > a{
   display:inline-block;
   background-color:#1976d2;
   color:#d3d3d3;
   margin:20px 15px;
   padding:15px 20px;
}
